demo/*.o
src/*.o
src/libnewt.so
demo/odc
res/snapshot.*
src/*.d
demo/*.d
/res
/render-*
tests/test_avec
tests/test_quadrature
tests/test_dynamics
tests/*.dSYM/
demo/ADOLC-*.tap
tests/test_specparser
tests/test_recorder
